body {
  font-family: sans-serif;
  background: #f4f4f4;
  text-align: center;
  padding: 20px;
}

button {
  background: #2ea6ff;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 10px;
  font-size: 16px;
}
